@font-face {
    font-family: 'casio';
    src: url('cas.ttf') format('truetype');
}
@font-face {
    font-family: 'balance';
    src: url('bal.ttf') format('truetype');
}
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.koreltxt {
    color: #ffffff;
    
}
#bet {
    width: 70px;
    height: 70px;
    

}
.kob {
    
    width: 70px;
    height: 70px;
}
#cartel {
    display: flex;
    place-content: center;
    gap: 250px;
}
#password {
    position: relative;
    place-content: center;
    display: flex;
    margin-left: 10cap;
    z-index: 100000;
}
#sum {
    position: relative;
    place-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 15cap;
    width: 20vw;
    height: 2vh;
    z-index: 100000;
}
#plus {
    position: relative;
    
    display: flex;
    margin-top: 20px;
    
    width: 20vw;
    height: 2vh;
    z-index: 100000;
}
#cann {
    position: relative;
    place-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 15cap;
    width: 20vw;
    height: 2vh;
    z-index: 100000;
}
body {
    background-image: url("bordi.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 89vh;
    background-attachment: fixed;
    width: 100vw;
}
#slot1 {
    
    
    z-index: 100;
    position: relative;
    display: flex;
    font-size: 22vh;
    font-size: 20vw;
    

    
}
#slot2 {
    display: flex;
    z-index: 100;
    position: relative;
    font-size: 22vh;
    font-size: 20vw;
    
}
#slot3 {
    text-align: center;
    
    z-index: 100;
    position: relative;
/*margin-left: 100px;*/
    display: flex;
    font-size: 22vh;
    font-size: 20vw;
    
}
.slots {
    display: flex;
    margin-top: -45cap;
    place-content: center;
    gap: 20px;
}
.root {
    position: relative;
    z-index: 150;
    place-content: center;
    display: flex;
    color: grey;
}
#phone {
    position: fixed;
    opacity: 50%;
    left: 0;
    top: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url('ser.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
}
.button{
    display: inline-block;
    
}
.re{
    height: 5vh;
    z-index: 25;
    width: 20vw;
    font-size: 1vh;
    margin-left: 15cap;
    font-size: 4vw;
    
    background-color: aquamarine;
    position: relative;

}
.rem{
    height: 5vh;
    z-index: 25;
    
    width: 20vw;
    font-size: 1vh;
    font-size: 4vw;
    margin-left: 2cap;
    background-color: aquamarine;
    position: relative;

}
.f{
    color: #ffffff;
    margin-top: 1cap;
    z-index: 10;
    font-size: 3vh;
    position: relative;
    font-family: 'balance';
    place-content: center;
    display: flex;
}
#balance{
    color: #ffffff;
    margin-top: 1cap;
    z-index: 10;
    font-size: 3vh;
    position: relative;
    font-family: 'balance';
    place-content: center;
    display: flex;
}
.dep {
    position: relative;
    z-index: 3;
    place-content: center;
    margin-top: 470px;
    
    display: flex;
    
    
}
.dep button{
    width: 30vw;
    
    font-size: 5vw;
    background-color: #f0ff1d;
}
.cas { 
    color: #fff01d;
    font-size: 20vw;
    font-size: 10vh;
    margin-top: -30px;
    place-content: center;
    display: flex;
    position: relative;
    z-index: 2;
    font-family: 'casio', serif;
    
}
